<!DOCTYPE html>
<html ng-app="gae-standards">
<head>
    <title>Topgate, Inc. GAE development standards</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/css/print.css" media="print" rel="stylesheet" type="text/css">
    <!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
    <![endif]-->

    <script type="text/javascript" src="/scripts/main.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
</head>
<body>

    <div ng-controller="TodoController" style="margin-left:10px;margin-top:10px;">

        <style scoped>
            .pure-button-success,
            .pure-button-error,
            .pure-button-warning,
            .pure-button-secondary { color: white; border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
            .pure-button-success { background: rgb(255, 204, 204); /* this is a green */ }
            .pure-button-error { background: rgb(204, 153, 255); /* this is a maroon */ }
            .pure-button-warning { background: rgb(223, 117, 20); /* this is an orange */ }
            .pure-button-secondary { background: rgb(66, 184, 221); /* this is a light blue */ }
            .pure-button-small { font-size: 85%; }
        </style>

        <input ng-model="newContent" type="input" placeholder="New ToDo">
            <button ng-click="add()" class="pure-button pure-button-small pure-button-primary">Add</button>
        <br/><br/>
        <!--
        <input ng-model="removeIndex" type="input" placeholder="Index">
            <button ng-click="remove()" class="pure-button pure-button-primary">REMOVE</button>
          -->
        <div ng-repeat="todo in todos" style="margin-bottom:5px;">
            <div style="width:50px;display:inline;">
                #{{$index + 1}})
            </div>
            <div style="width:250px;display:inline;">
                [{{todo.createdAt}}] {{todo.title}}
            </div>
            <button ng-click="modify($index)" class="pure-button pure-button-small pure-button-success">Edit</button>
            <button ng-click="remove2($index)" class="pure-button pure-button-small pure-button-error">Remove</button>
            <!--
            <input type="text" ng-model="modifiedContent" placeholder="NewValue"><button ng-click="modify2($index,modifiedContent)">EDIT_INLINE</button>
            -->
        </div>
    </div>


<!--
<div ng-view>
</div>

<script type="text/ng-template" id="/template/sample.html">
    <div ng-controller="SampleTestController">
        <input type="text" ng-model="name">
        {{name}}
    </div>
</script>

<script type="text/ng-template" id="/template/main.html">
    <p>
        メインです。<br>
        <a ng-href="/sample">サンプル</a>
    </p>
</script>
-->

</body>
</html>
